.git
.github
.agents
.dotnet-home
.models
.pytest_cache
.tmp
.venv
.venv.*
archives
build
cache_dir
BroadcastifyCli.WinUI
BroadcastifyCli.WindowsML
*.egg-info
*.log
*.sqlite
*.sqlite3
*.db
.env
.env.*
!.env-example
cookies.json
**/__pycache__
**/*.pyc
**/bin
**/obj
